/*sivuston fontti*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

body {
    background-color: beige;
    font-family: "Poppins";
}


/*[class^="col"] {;
} */

/*Hide and show items in JS-file */
.alert {
    display: none;
}

.invalid {
    background-color:rgb(255, 0, 0);
}


      